/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --main-font-inter: "Inter";
  --accent-font-PressStart2P: "PressStart2P";
  --title-font-weight: 785;
  --text-font-weight: 465;
  --bg-color: #000000;
  --accent-color-pale: rgba(0, 204, 20, 0.6);
  --text-color: #00cc14;
  --bg-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
  --border-color: #00cc14;
  --font-weight-normal: 465;
  --font-weight-bold: 785;
  --label-stroke-color: rgba(0, 0, 0, 0.5);
  --label-text-color: rgba(0, 204, 20, 0.5);
  --accent-color-strong: rgba(0, 204, 20, 1);
  --button-text-color: #00cc14;
  --heart-contour-color: #00cc14;
  --heart-fill-color: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-inter: "Inter";
    --accent-font-PressStart2P: "PressStart2P";
    --title-font-weight: 785;
    --text-font-weight: 465;
    --bg-color: #000000;
    --accent-color-pale: rgba(0, 204, 20, 0.6);
    --text-color: #00cc14;
    --bg-image: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
    --border-color: #00cc14;
    --font-weight-normal: 465;
    --font-weight-bold: 785;
    --label-stroke-color: rgba(0, 0, 0, 0.5);
    --label-text-color: rgba(0, 204, 20, 1);
    --button-text-color: #00cc14;
    --heart-contour-color: #00cc14;
    --heart-fill-color: #ff0000;
  }
}

:root.theme-light {
  --main-font-inter: "Inter";
  --accent-font-PressStart2P: "PressStart2P";
  --title-font-weight: 700;
  --text-font-weight: 400;
  --bg-color: #ffffff;
  --accent-color-pale: rgba(0, 0, 0, 0.6);
  --text-color: #000000;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --border-color: #000000;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --label-stroke-color: rgba(255, 255, 255, 0.5);
  --label-text-color: rgba(0, 0, 0, 0.5);
  --accent-color-strong: rgba(0, 0, 0, 1);
  --button-text-color: #ffffff;
  --heart-contour-color: #000000;
  --heart-fill-color: #ff0000;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font-inter: "Inter";
    --accent-font-PressStart2P: "PressStart2P";
    --title-font-weight: 700;
    --text-font-weight: 400;
    --bg-color: #ffffff;
    --accent-color-pale: rgba(0, 0, 0, 0.6);
    --text-color: #000000;
    --bg-image: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --border-color: #000000;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --label-stroke-color: rgba(255, 255, 255, 0.5);
    --label-text-color: rgba(0, 0, 0, 0.5);
    --accent-color-strong: rgba(0, 0, 0, 1);
    --button-text-color: #ffffff;
    --heart-contour-color: #000000;
    --heart-fill-color: #ff0000;
  }
}
